.about {
  height: 100vh;
  //margin-bottom: 20rem;

  text-align: center;

  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary
  );
  background-image: linear-gradient(
    45deg,
    rgba(rgb(83, 81, 81), 0.5) 5%,
    rgba(rgb(5, 5, 5), 0.9) 95%,

    rgba($color-primary, 0.8) 50%
  );
  //background-color: $color-primary;
  display: grid;
  //margin: 0 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  padding: 8rem;
  grid-gap: 2rem;
  justify-content: space-evenly;
  &__item {
    &--1 {
      //background-color: $color-primary;

      /*  background-image: linear-gradient(
        45deg,
        rgba(rgb(83, 81, 81), 0.5) 5%,
        rgba(rgb(5, 5, 5), 0.9) 95%,

        rgba($color-primary, 0.8) 50%
      ); */
      grid-column: 1 / span 7;
      grid-row: 3 / span 7;

      //border-radius: 2px;
      //box-shadow: 0rem 0.5rem 1rem rgba($color: #ffffff, $alpha: 0.2);
      //border: 1px solid rgba($color-grey-light-1, 0.05);
      // display: grid;
      //grid-template-rows:repeat(2 , 1fr);
      // grid-template-columns:repeat(2, 1fr);
      //grid-gap: 2rem;
      //justify-self: center;
      //align-self: center;
      //justify-content: center;
      // align-items: center;
      box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);
      padding-bottom: 5rem;
      .about {
        padding-bottom: 5rem;
        &__thomas {
          margin-top: 10rem;

          text-transform: capitalize;
          font-family: $font-display;
          &::after,
          &::before {
            content: "";
            height: 5px;
            margin: 0 2rem;
            width: 4rem;
            display: inline-block;
            background-color: $color-tertiary;
          }
        }
        &__story {
          padding: 1.5rem;
          font-size: 1.5rem;
          font-family: $font-display;
          padding-bottom: 10rem;
        }
      }
    }
    &--2 {
      grid-column: 8/-1;
      grid-row: 2 / 11;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    outline-offset: 2rem;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);
    border-radius: 20%;
  }
}
