.contact {
  height: 100vh;

  // border-top: 2px solid rgba($color-secondary, 0.6);
  // background-image: url('../img/image00015.jpg');
  //background-color: $color-secondary;

  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary
  );

  background-image: linear-gradient(
    45deg,
    rgba(rgb(83, 81, 81), 0.5) 5%,
    rgba(rgb(140, 137, 137), 0.9) 95%,

    rgba($color-primary, 0.8) 50%
  );
  background-image: linear-gradient(
    45deg,
    rgba(rgb(83, 81, 81), 0.5) 5%,
    rgba(rgb(5, 5, 5), 0.9) 95%,

    rgba($color-primary, 0.8) 50%
  );
  // background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2rem;

  //margin: 0 2rem;
  color: $color-primary;
  &__title {
    grid-column: 1/ -1;
    grid-row: 2 / span 2;
    font-family: $font-display;
    display: inline-block;
    justify-self: center;

    text-transform: capitalize;
    color: $color-grey-light-2;
  }
  &__form {
    grid-column: 2 / span 8;
    grid-row: 3 / span 7;
    //background-color: $color-grey-light-1;
    //border-radius: 2rem;
    background-color: $color-secondary;
    justify-content: center;
    box-shadow: 1.5rem 1.5rem rgba($color: rgb(210, 209, 209), $alpha: 1);
    width: 100%;
  }
  &__textArea {
  }
}

.form {
  // display: block;
  // padding: 2rem;
  background-image: linear-gradient(
      -140deg,
      rgba(rgb(255, 255, 255), 0.5) 5%,
      rgba(black, 0.9) 5%,
      rgba($color-grey-dark-2, 0.05) 50%
    ),
    url("../img/image00015.jpg");
  background-size: 100%; //cover or 100%
  background-repeat: no-repeat;
  background-position: top;

  box-shadow: 0 1.5rem 2rem rgba($color: $color-secondary, $alpha: 0.3);
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);

  justify-content: center;
  align-items: center;

  grid-gap: 2rem;
  padding: 5rem;

  &__group {
    &--1 {
      grid-column: 1/ 2;
      grid-row: 1/2;
      align-self: center;
    }
    &--2 {
      grid-column: 2/ -1;
      grid-row: 1/2;
      align-self: center;
    }
    &--3 {
      grid-column: 1/ -1;
      grid-row: 2/-1;
    }
    &--4 {
      grid-column: 1/ 1;
    }
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;

    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 100%;
    transition: all 0.5s;
    background-color: rgba($color-secondary, 0.8);

    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0.3rem 0.5rem rgba($color: #000000, $alpha: 0.5);
      border-bottom: 3px solid $color-tertiary-1;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    color: rgba($color-grey-light-1, 1);
    margin-top: 0.7rem;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
