.header{
  background: linear-gradient(to  bottom,$color-primary 10%, $color-secondary 100%);
 position: fixed;
  z-index: 1;
  transition: all .2s;
  height: 0;

 //opacity: 0;
  &__fixed{
   // position: fixed;
    z-index: 1;
    background: linear-gradient(90deg, rgba(rgb(0, 0, 0), 0.005) 5%,rgba(rgb(246, 246, 246), 0.05)  10%, rgba(rgb(0, 0, 0), 0.1) 50%);
    animation: head .5s ease-in-out ;
  
  }
  &__nofixed{
   // position: relative;
    //background-color: rgba($color: $color-primary, $alpha: 1);
   //background-color: currentColor;
    background: linear-gradient(to  bottom,$color-primary 80%, $color-secondary 100%);
    
    .nav{
      color: rgba($color:  $color-secondary, $alpha: 1);
      &__link:link,
      &__link:visited{
        color:rgba($color:  $color-secondary, $alpha: .3) ; 
      }
      &__link:hover,
      &__link:active{
        background-color:rgba($color:  $color-grey-light-2, $alpha: .09);
      }
     }
    
  }

  .show{
    opacity: 1;
  }

  .nav{
   
    display: grid;
    grid-template-columns: 5vw repeat(4, minmax(6rem, 30vw));
    
    justify-items: end;
    align-items: center;
    //padding: 2rem;
    list-style: none;
    
    &__link:link,
    &__link:visited{
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      display: block;
      color:rgba($color:  $color-secondary, $alpha: .3) ;
      padding: 1.2rem;
      transition: all .2s;
      justify-self: center;
    }

    &__link:hover,
    &__link:active{
      //background-color:rgba($color:  $color-grey-light-2, $alpha: .09);
      transform: translateY(-3px);
    }
    
    &__contact{
      margin-right: 5rem;
      
    }
    &__about{

    }
   }

   &__logo{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
   }
}

