.landing{
   height: 100vh;
   width: 100%;
   //overflow: hidden;
   background-image:  url(../img/hero1.jpg);
   background-position:center;
   background-attachment: fixed;
   background-repeat: repeat;
   background-size: cover;
   
   display: grid;
   grid-template-columns: 1f;
   

   animation-name: displyBackground ;
   -webkit-animation-name: displyBackground ;
   -moz-animation-name:  displyBackground ;

   animation-duration: 30s ;
   -webkit-animation-duration: 30s;
   -moz-animation-duration: 30s  ;
   animation-direction: alternate-reverse;
    animation-fill-mode: forwards ;
   -moz-animation-fill-mode:forwards ;
   -webkit-animation-fill-mode:forwards ; 

   animation-iteration-count:infinite ;
   -moz-animation-iteration-count:infinite ; 
   
  animation-play-state:running ;
   -webkit-animation-play-state: running ;
   -moz-animation-play-state:running ; 
   animation-timing-function: ease-in-out;

   &__grid{
   /*  display: grid;
    grid-template-columns: 6rem 1fr 6rem;
    background-color: red; */
    //opacity: 0;
    background-color: rgba($color: #000000, $alpha: 1);
    &--top{
        background-color: beige;
    }
   
    &--bottom{
        background-color: beige;
    }
   }


   &__thom{
    width: 100%;
    position: fixed;
    top: 80%;
    left:0;
   
  
   }
   
}

.thoma{
   
    //border-bottom: 2px solid $color-tertiary;
   
    padding: 2vw;
    display: grid ;
    grid-template-columns:  repeat(2,minmax(max-content, 50%)) ;
    //justify-items: center;
    //justify-content: center;
    
    text-transform: uppercase;
    text-shadow: 2px 2px rgba($color: #2b2a2a, $alpha: 1);
    font-family: $font-display;
   
    &__name{
        //justify-self:start;
      
        border-bottom: 5px solid $color-tertiary;
        width: 50%;
        padding-bottom: 2rem;
        display: block;
        justify-self: start;
    }
    &__title{
        justify-self:flex-end;
        
        border-bottom: 5px solid $color-tertiary;
        width: 70%;
        padding-bottom: 2rem;
        display:block ;
    }
   
}

@keyframes displyBackground {
   10%{
        background-image: url(../img/image00003.jpg);
       
       
    }
   
    20%{
 
        background-image: url(../img/image00053.jpg);
    }
   
    40%{
        background-image: url(../img/image00050.jpg);
    
    } 
  
    60%{
       
         
        background-image: url(../img/image00035.jpg);
    }
 
    80%{
        background-image: url(../img/image00019.jpg);
        background-position: bottom;
       
    }
  
   100%{
    background-image: url(../img/image00023.jpg);
   
    }
    
}




.downIcon{
    color: $color-grey-light-1;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
    //margin-top: -.5rem;
  
    & span{
        display: block;
        width: 25px;
        height: 25px;
        border-bottom: 1px  solid $color-grey-light-1; 
        border-right:1px  solid $color-grey-light-1; 
        transform: rotate(45deg);
        margin: -20px;
        animation: scroll 2s infinite ;
    }
    
    & span:nth-child(2){
        animation-delay: -.2s;
    }
    & span:nth-child(3){
        animation-delay: -.4s;
    }
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
       
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

