.gallery {
  display: grid;
  grid-template-columns: 1fr;
  // margin: 2rem;
  grid-gap: 2px;
  //position: relative;
  &__space {
    grid-row: 3/4;
  }
  &__1 {
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.05)
      ),
      url(../img/image00010.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    // margin: 2rem;
    grid-gap: 2px;
  }
  &__item {
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
  }

  &__img {
    width: 100%;
    height: 60%;
    transform: rotateY(-3);
  }
}

.composition {
  display: grid;
  //grid-template-columns: 1fr minmax(50rem, min-content) 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 10rem);
  background-color: $color-grey-light-2;
  background-color: rgba($color-secondary, 0.3);
  background-image: linear-gradient(
    to right,
    rgba($color-primary, 0.3),
    rgba($color-secondary, 0.2)
  );
  // grid-gap: .5rem;
  /*  background-image: linear-gradient(
    rgba($color-tertiary, 0.7),
    rgba($color-secondary, 0.2)
  ); */
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  &__img {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
    outline-offset: 1rem;
    transition: all 0.5s;
    &:hover {
      outline: 1.5rem solid $color-grey-light-2;
      transform: scale(1.05);
      box-shadow: 0 1.5rem 4rem rgba($color: #fffefe, $alpha: 0.5);
      z-index: 20;
    }
    &:hover {
      .overlay {
        z-index: 100;
        background-color: red;
      }
    }
  }
}

.div1 {
  grid-column: 3 / span 4;
  grid-row: 3/6;
  position: relative;
  background-image: url("../img/image00058.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
  outline-offset: 1rem;
  transition: all 0.5s;

  &:hover {
    outline: 1.5rem solid $color-grey-light-2;
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color: #fffefe, $alpha: 0.5);
    z-index: 20;
    & > .overlay {
      opacity: 1;
    }
  }
}
.div2 {
  grid-column: 5 / span 4;
  grid-row: 4/7;
  position: relative;
  background-image: url("../img/hero1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
  outline-offset: 1rem;
  transition: all 0.5s;

  &:hover {
    outline: 1.5rem solid $color-grey-light-2;
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color: #fffefe, $alpha: 0.5);
    z-index: 20;
    & > .overlay {
      opacity: 1;
    }
  }
}
.div3 {
  grid-column: 4 / span 4;
  grid-row: 5/8;

  background-image: url("../img/image00011.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
  outline-offset: 1rem;
  transition: all 0.5s;

  &:hover {
    outline: 1.5rem solid $color-grey-light-2;
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color: #fffefe, $alpha: 0.5);
    z-index: 20;
    & > .overlay {
      opacity: 1;
    }
  }
}

//Gallery overlay
.overlay {
  background-color: rgba($color-primary, 0.5);
  //width: 50%;
  // height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem 4rem;
  font-family: $font-display;
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0;
  display: block;
}
