// COLOR VARIABLES
$color-primary: #000000;
$color-primary-dark: #B28451;

$color-secondary: #ffffff;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-tertiary: rgb(80, 8, 8);
$color-tertiary-1: rgb(130, 8, 8);