.box{
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 2rem;
}


.section-1{
  
    background-image: url(../img/image00038.jpg);
   

}

.section-2{
   
    background-image: url(../img/image00056.jpg);
   
}

.section-3{
   
    background-image: url(../img/image00057.jpg);
   
}
.section-4{
 
   height: 100vh;
   background-image: url(../img/image00045.jpg);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

.section-5{
    height: 100vh;
    background-image: url(../img/image00039.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-6{
    height: 100vh;
    background-image: url(../img/image00050.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-7{
  
   background-image: url(../img/image00080.jpg);
   background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: all .2s ease-in;
   
}
.section-8{
    height: 100vh;
    background-image: url(../img/image00051.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-9{
    height: 100vh;
    background-image: url(../img/image00052.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-10{
    height: 100vh;
    background-image: url(../img/image00053.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-10{
    height: 100vh;
    background-image: url(../img/image00054.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-11{
    height: 100vh;
    background-image: url(../img/image00055.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-12{
    height: 100vh;
    background-image: url(../img/image00056.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-13{
    height: 100vh;
    background-image: url(../img/image00057.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-14{
    height: 100vh;
    background-image: url(../img/image00058.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-15{
    height: 100vh;
    background-image: url(../img/image00059.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-16{
    height: 100vh;
    background-image: url(../img/image00060.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.section-17{
    height: 100vh;
    background-image: url(../img/image00061.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.section-18{
    height: 100vh;
    background-image: url(../img/image00062.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-19{
    height: 100vh;
    background-image: url(../img/image00063.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-20{
    height: 100vh;
    background-image: url(../img/image00064.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-21{
    height: 100vh;
    background-image: url(../img/image00065.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-22{
    height: 100vh;
    background-image: url(../img/image00066.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-23{
    height: 100vh;
    background-image: url(../img/image00067.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-24{
    height: 100vh;
    background-image: url(../img/image00068.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-25{
    height: 100vh;
    background-image: url(../img/image00069.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-26{
    height: 100vh;
    background-image: url(../img/image00070.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-27{
    height: 100vh;
    background-image: url(../img/image00071.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-28{
    height: 100vh;
    background-image: url(../img/image00072.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-29{
    height: 100vh;
    background-image: url(../img/image00073.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.section-30{
    height: 100vh;
    background-image: url(../img/image00074.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}