@use './style/base.scss';
@use './shared/components/header/header.scss';
@use './shared/components/footer/footer.scss';
@use './shared/components/error/error.scss';
@use './features/gallery/gallery.scss';
@use './style/typography.scss';
@use './features/about/about.scss';
@use './style/thanks.scss';
@use './style/welcome.scss';
@use './features/contact/contact.scss';
@use './features/landing/landing.scss';
