@import './style/base.scss';
@import './shared/components/header/header.scss';
@import './shared/components/footer/footer.scss';
@import './features/gallery/gallery.scss';
@import './style/typography.scss';
@import './features/about/about.scss';
@import './style/thanks.scss';
@import './style/welcome.scss';
@import './features/contact/contact.scss';
@import './features/landing/landing.scss';