@import './sass/base.scss';
@import './sass/header.scss';
@import './sass/footer.scss';
@import './sass/gallery.scss';
@import './sass/typography.scss';
@import './sass/about.scss';
@import './sass/thanks.scss';
@import './sass/welcome.scss';
@import './sass/contact.scss';
@import './sass/landing.scss';